* {
    margin: 0;
    padding: 0px;
}

body {
    color: white;
    background: linear-gradient(90deg, rgb(16, 16, 26), rgb(16, 16, 32));
    font-family: monospace;
}

a {
    color: white;
    text-decoration: none;
}

.center-box {
    padding: 15px;
    padding-top: 40vh;
}

.center-text {
    text-align: center;
}

.highlight-text {
    color: #6666ff;
}